# NODE_ENV=production activa la conexión al broker MQTT y el watchdog
NODE_ENV=development

PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agrotrack
DB_USER=postgres
DB_PASSWORD=postgres
DB_MAX_POOL_SIZE=10

JWT_SECRET=change_me_in_production
JWT_EXPIRE_IN=604800

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=agrotrack-server

TEAM_NAME=Corall D&R
TZ=America/Lima
